<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria_Avgustin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inmobiliaria_Avgustin.styles.css" asp-append-version="true" />
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Notificaciones CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-4">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                    🏠 Inmobiliaria Avgustin
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Propietario" asp-action="Index">Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Inmueble" asp-action="Index">Inmuebles</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Inquilino" asp-action="Index">Inquilinos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Contrato" asp-action="Index">Contratos</a>
                        </li>

                        @* <li class="nav-item">
                            <a class="nav-link" asp-controller="Pagos" asp-action="Index">Pagos</a>
                        </li> *@

                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span class="navbar-text">
                                    <a class="" asp-controller="Perfil" asp-action="Index">Bienvenido,
                                        @User.Identity.Name!</a>
                                </span>
                                <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                                    <button type="submit" class="btn btn-link">Salir</button>
                                </form>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="Login">Ingresar</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Inmobiliaria_Avgustin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <!-- Notificaciones JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
 

        @if (TempData["Success"] != null)
        {
                <text>toastr.success("@TempData["Success"]");</text>
        }
            @if (TempData["Error"] != null)
            {
                <text>toastr.error("@TempData["Error"]");</text>
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
