@{
    ViewData["Title"] = "Inicio";
}

<div class="container text-center mt-5">
    <h1 class="mb-4">Bienvenido a la Gestión Inmobiliaria</h1>
    <p class="lead">Seleccione una opción para administrar:</p>

    <div class="row justify-content-center">
        <!-- Sección Propietarios -->
        <div class="col-md-5">
            <div class="card shadow-lg border-primary">
                <div class="card-body">
                    <h3 class="card-title">Propietarios</h3>
                    <p class="card-text">Administre los propietarios de la inmobiliaria.</p>
                    <a href="@Url.Action("Index", "Propietario")" class="btn btn-primary">Gestionar Propietarios</a>
                </div>
            </div>
        </div>

        <!-- Sección Inquilinos -->
        <div class="col-md-5">
            <div class="card shadow-lg border-success">
                <div class="card-body">
                    <h3 class="card-title">Inquilinos</h3>
                    <p class="card-text">Administre los inquilinos de la inmobiliaria.</p>
                    <a href="@Url.Action("Index", "Inquilino")" class="btn btn-success">Gestionar Inquilinos</a>
                </div>
            </div>
        </div>

        <!-- Sección Inmuebles -->
        <div class="col-md-5">
            <div class="card shadow-lg border-success">
                <div class="card-body">
                    <h3 class="card-title">Inmuebles</h3>
                    <p class="card-text">Administre los Inmuebles de la inmobiliaria.</p>
                    <a href="@Url.Action("Index", "Inmueble")" class="btn btn-success">Gestionar Inmuebles</a>
                </div>
            </div>
        </div>
        <!-- Sección Contrato -->
        <div class="col-md-5">
            <div class="card shadow-lg border-success">
                <div class="card-body">
                    <h3 class="card-title">Contratos</h3>
                    <p class="card-text">Administre los Contratos de la inmobiliaria.</p>
                    <a href="@Url.Action("Index", "Contrato")" class="btn btn-success">Gestionar Contratos</a>
                </div>
            </div>
        </div>
        @if (User.IsInRole("Administrador"))
        {
            <div class="col-md-5">
                <div class="card shadow-lg border-success">
                    <div class="card-body">
                        <h3 class="card-title">Usuarios</h3>
                        <p class="card-text">Administre los Usuarios de la inmobiliaria.</p>
                        <a href="@Url.Action("Index", "Usuario")" class="btn btn-success">Gestionar Usuarios</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
