@{
    ViewData["Title"] = "Lista de Propietarios";
}

<div class="container mt-4">
    <h2>Lista de Inquilinos</h2>
    <a href="@Url.Action("Create", "Inquilino")" class="btn btn-success mb-3">Agregar Nuevo Inquilino</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Trabajo</th>
                <th>Ingresos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inquilino in Model)
            {
                <tr>
                    <td>@inquilino.Dni</td>
                    <td>@inquilino.Nombre</td>
                    <td>@inquilino.Apellido</td>
                    <td>@inquilino.Telefono</td>
                    <td>@inquilino.Email</td>
                    <td>@inquilino.Trabajo</td>
                    <td>@inquilino.Ingresos</td>


                    <td>
                        <a href="@Url.Action("Edit", "inquilino", new { id = inquilino.Id })"
                            class="btn btn-warning btn-sm">Editar</a>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a href="@Url.Action("Delete", "inquilino", new { id = inquilino.Id })"
                                class="btn btn-danger btn-sm">Eliminar</a>
                        }
                        <a href="@Url.Action("Details", "inquilino", new { id = inquilino.Id })"
                            class="btn btn-danger btn-sm">Mas</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Paginación"></nav>
    <ul class="pagination justify-content-center">
        <li class="page-item @(ViewBag.Page <= 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.Page - 1 })">Anterior</a>
        </li>

        <li class="page-item disabled">
            <span class="page-link">
                Página @ViewBag.Page de @ViewBag.TotalPages
            </span>
        </li>

        <li class="page-item @(ViewBag.Page >= ViewBag.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.Page + 1 })">Siguiente</a>
        </li>
    </ul>
    </nav>
</div>
